{# src/AG/AgencimmoBundle/Resources/views/Immo/connexion.html.twig #}
{% extends "AGAgenceimmoBundle::layout.html.twig" %}

{% block title %}
  Connexion - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Page de connexion</h2>

  <p>
    Ici l'on affichera un formulaire de connexion
  </p>

{% endblock %}
